 .u-section-1 {
  background-image: url("images/60566d42-0e01-41ef-99e5-240f5edc2e39.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 13692px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 148px auto 0;
}

.u-section-1 .u-image-1 {
  width: 283px;
  height: 147px;
  margin: -204px auto 0 11px;
}

.u-section-1 .u-image-2 {
  width: 90px;
  height: 90px;
  margin: -118px 97px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: Audiowide;
  margin: -12px 115px 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Audiowide;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -83px 208px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 40px;
  height: 40px;
  margin: 146px 531px 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: Audiowide;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -71px auto 0;
}

.u-section-1 .u-image-4 {
  width: 38px;
  height: 38px;
  margin: 1px auto 0 520px;
}

.u-section-1 .u-group-1 {
  --radius: 30px;
  width: 540px;
  min-height: 13312px;
  --color-var: #0969c3;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 63px auto 0 19px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-family: Audiowide;
  font-weight: 700;
  margin: 29px auto 0 88px;
}

.u-section-1 .u-text-6 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 42px auto 0 12px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 42px auto 0 9px;
}

.u-section-1 .u-text-9 {
  margin: 0 auto 0 5px;
}

.u-section-1 .u-text-10 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-11 {
  margin: 0 auto 0 5px;
}

.u-section-1 .u-text-12 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-text-13 {
  margin: 0 auto 0 6px;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 28px auto 0 13px;
}

.u-section-1 .u-text-15 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-16 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-17 {
  margin: -2px 9px 0 5px;
}

.u-section-1 .u-text-18 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 30px auto 0 11px;
}

.u-section-1 .u-text-19 {
  margin: 5px 9px 0 5px;
}

.u-section-1 .u-text-20 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 17px auto 0 11px;
}

.u-section-1 .u-text-21 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-22 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 18px auto 0 10px;
}

.u-section-1 .u-text-23 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-24 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-25 {
  margin: 0 7px;
}

.u-section-1 .u-text-26 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 20px auto 0 12px;
}

.u-section-1 .u-text-27 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-28 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 17px auto 0 12px;
}

.u-section-1 .u-text-29 {
  margin: 0 7px;
}

.u-section-1 .u-text-30 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 19px auto 0 12px;
}

.u-section-1 .u-text-31 {
  margin: 0 7px;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  width: 510px;
  min-height: 13311px;
  --color-var: #0969c3;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -13312px 31px 12px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-32 {
  font-family: Audiowide;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-33 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 38px auto 0 8px;
}

.u-section-1 .u-text-34 {
  margin: 0 auto 0 6px;
}

.u-section-1 .u-text-35 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 13px auto 0 8px;
}

.u-section-1 .u-text-36 {
  margin: 0 0 0 5px;
}

.u-section-1 .u-text-37 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-38 {
  margin: 5px 4px 0 7px;
}

.u-section-1 .u-text-39 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 18px auto 0 8px;
}

.u-section-1 .u-text-40 {
  margin: 0 5px;
}

.u-section-1 .u-text-41 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-42 {
  margin: 0 5px;
}

.u-section-1 .u-text-43 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-44 {
  margin: 0 5px;
}

.u-section-1 .u-text-45 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-46 {
  margin: 0 4px 0 6px;
}

.u-section-1 .u-text-47 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 28px auto 0 8px;
}

.u-section-1 .u-text-48 {
  margin: 0 5px;
}

.u-section-1 .u-text-49 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 7px;
}

.u-section-1 .u-text-50 {
  margin: 0 5px;
}

.u-section-1 .u-text-51 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 19px auto 0 8px;
}

.u-section-1 .u-text-52 {
  margin: 0 5px;
}

.u-section-1 .u-text-53 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 19px auto 0 8px;
}

.u-section-1 .u-text-54 {
  margin: 0 5px;
}

.u-section-1 .u-text-55 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 27px auto 0 8px;
}

.u-section-1 .u-text-56 {
  margin: 0 5px;
}

.u-section-1 .u-text-57 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px auto 0 9px;
}

.u-section-1 .u-text-58 {
  margin: 0 5px;
}

.u-section-1 .u-text-59 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-60 {
  margin: 0 5px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 11290px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 27156px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 186px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -242px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -128px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -11px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -70px;
    margin-right: 115px;
    margin-left: 284px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 185px;
    margin-right: 320px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -78px;
  }

  .u-section-1 .u-image-4 {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    margin-left: 310px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 42px;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 27127px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 203px;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
    height: 128px;
    margin-top: -263px;
    margin-left: 113px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -105px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -10px;
    margin-right: 94px;
    margin-left: 70px;
  }

  .u-section-1 .u-image-3 {
    width: 42px;
    height: 42px;
    margin-top: 125px;
    margin-right: 228px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-image-4 {
    width: 42px;
    height: 42px;
    margin-top: 8px;
    margin-left: 214px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 27176px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 227px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-1 {
    width: 230px;
    height: 130px;
    margin-top: -352px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -110px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -13px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-image-3 {
    width: 36px;
    height: 36px;
    margin-top: 189px;
    margin-right: 128px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -64px;
  }

  .u-section-1 .u-image-4 {
    width: 36px;
    height: 36px;
    margin-top: 0;
    margin-left: 121px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 12px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-36 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-52 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-58 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-60 {
    margin-left: 0;
    margin-right: 0;
  }
}