 .u-section-1 {
  background-image: url("images/FKHCABEKKb3PsdW.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 3689px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 6240px;
  animation-timing-function: ease-in;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 19px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0 5px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 30px 0 34px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 19px 0 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-8 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0 5px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 14px auto 0 9px;
}

.u-section-1 .u-text-11 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-12 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-13 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-14 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-15 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-16 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-17 {
  margin-left: 9px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px auto 0 9px;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 14px auto 0 14px;
}

.u-section-1 .u-text-20 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-21 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-22 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-23 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-24 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-25 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-26 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-27 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-28 {
  margin-left: 14px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-29 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0 14px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 6240px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1);
  padding: 30px 0;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 -1px;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 26px 19px 0;
}

.u-section-1 .u-text-32 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-33 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-34 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-35 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-36 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.u-section-1 .u-text-37 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-38 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-39 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-40 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 15px 19px 0;
}

.u-section-1 .u-text-41 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-42 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 19px 0;
}

.u-section-1 .u-text-43 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-44 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-45 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-46 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-47 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-48 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-49 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-50 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-51 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-52 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-53 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-54 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-55 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-56 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 15px 19px 0;
}

.u-section-1 .u-text-57 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-1 .u-text-58 {
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2434px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 5145px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 5145px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-39 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-41 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-47 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-49 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-51 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-52 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-53 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-55 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-57 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-58 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1765px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2960px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1743px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }
}
.center {
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
 }
}