 .u-section-1 {
  background-image: url("images/60566d42-0e01-41ef-99e5-240f5edc2e39.png");
  background-position: 50% 50%;
  min-height: 14224px;
}

.u-section-1 .u-image-1 {
  width: 108px;
  height: 108px;
  margin: 63px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Audiowide;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: -47px auto 0;
}

.u-section-1 .u-image-2 {
  width: 374px;
  height: 43px;
  margin: -127px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 106px calc(((100% - 1140px) / 2)  + 153px) 0 calc(((100% - 1140px) / 2)  + 85px);
}

.u-section-1 .u-text-3 {
  font-family: Audiowide;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 15px auto 0;
}

.u-section-1 .u-image-3 {
  width: 42px;
  height: 42px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 8px auto 0 calc(((100% - 1140px) / 2)  + 499px);
}

.u-section-1 .u-image-4 {
  width: 42px;
  height: 42px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -42px auto 0;
}

.u-section-1 .u-image-5 {
  width: 42px;
  height: 42px;
  margin: -42px calc(((100% - 1140px) / 2)  + 496px) 0 auto;
}

.u-section-1 .u-group-1 {
  --radius: 30px;
  width: 553px;
  min-height: 13320px;
  --color-var: #0969c3;
  height: auto;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(var(--color-var-r), var(--color-var-g), var(--color-var-b), 1), rgba(var(--color-var-r), var(--color-var-g), var(--color-var-b), 1));
  background-size: cover;
  margin: 42px auto 0 calc(((100% - 1140px) / 2)  + -12px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-family: Audiowide;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 47px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 35px auto 0 12px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 42px auto 0 9px;
}

.u-section-1 .u-text-8 {
  margin: 0 auto 0 5px;
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-10 {
  margin: 0 auto 0 5px;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-text-12 {
  margin: 0 auto 0 6px;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 28px auto 0 13px;
}

.u-section-1 .u-text-14 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-15 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-16 {
  margin: -2px 9px 0 5px;
}

.u-section-1 .u-text-17 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 30px auto 0 11px;
}

.u-section-1 .u-text-18 {
  margin: 5px 9px 0 5px;
}

.u-section-1 .u-text-19 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 17px auto 0 11px;
}

.u-section-1 .u-text-20 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-21 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 18px auto 0 10px;
}

.u-section-1 .u-text-22 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-23 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-24 {
  margin: 0 7px;
}

.u-section-1 .u-text-25 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 20px auto 0 12px;
}

.u-section-1 .u-text-26 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-27 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 17px auto 0 12px;
}

.u-section-1 .u-text-28 {
  margin: 0 7px;
}

.u-section-1 .u-text-29 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 19px auto 0 12px;
}

.u-section-1 .u-text-30 {
  margin: 0 7px;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  width: 553px;
  min-height: 13320px;
  --color-var: #0969c3;
  height: auto;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(var(--color-var-r), var(--color-var-g), var(--color-var-b), 1), rgba(var(--color-var-r), var(--color-var-g), var(--color-var-b), 1));
  background-size: cover;
  margin: -13320px calc(((100% - 1140px) / 2)  + 17px) 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-31 {
  font-family: Audiowide;
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-1 .u-text-32 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 34px auto 0 8px;
}

.u-section-1 .u-text-33 {
  margin: 0 auto 0 6px;
}

.u-section-1 .u-text-34 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 13px auto 0 8px;
}

.u-section-1 .u-text-35 {
  margin: 0 0 0 5px;
}

.u-section-1 .u-text-36 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-37 {
  margin: 5px 4px 0 7px;
}

.u-section-1 .u-text-38 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 18px auto 0 8px;
}

.u-section-1 .u-text-39 {
  margin: 0 5px;
}

.u-section-1 .u-text-40 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-41 {
  margin: 0 5px;
}

.u-section-1 .u-text-42 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-43 {
  margin: 0 5px;
}

.u-section-1 .u-text-44 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-45 {
  margin: 0 4px 0 6px;
}

.u-section-1 .u-text-46 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 28px auto 0 8px;
}

.u-section-1 .u-text-47 {
  margin: 0 5px;
}

.u-section-1 .u-text-48 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 7px;
}

.u-section-1 .u-text-49 {
  margin: 0 5px;
}

.u-section-1 .u-text-50 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 19px auto 0 8px;
}

.u-section-1 .u-text-51 {
  margin: 0 5px;
}

.u-section-1 .u-text-52 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 19px auto 0 8px;
}

.u-section-1 .u-text-53 {
  margin: 0 5px;
}

.u-section-1 .u-text-54 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 27px auto 0 8px;
}

.u-section-1 .u-text-55 {
  margin: 0 5px;
}

.u-section-1 .u-text-56 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px auto 0 9px;
}

.u-section-1 .u-text-57 {
  margin: 0 5px;
}

.u-section-1 .u-text-58 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-59 {
  margin: 0 5px;
}

.u-section-1 .u-custom-html-1 {
  margin-left: calc(((100% - 1140px) / 2)  + -12px);
  margin-top: 30px;
  margin-bottom: 60px;
  width: 1135px;
  height: auto;
  min-height: 69px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 11729px;
  }

  .u-section-1 .u-image-1 {
    transition-duration: 0.5s;
    margin-top: 11015px;
    margin-right: calc(((100% - 940px) / 2)  + -112px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 47px;
    margin-left: calc(((100% - 940px) / 2)  + 423px);
  }

  .u-section-1 .u-text-2 {
    width: 903px;
    margin-top: 78px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: 64px;
  }

  .u-section-1 .u-image-3 {
    transition-duration: 0.5s;
    margin-left: calc(((100% - 940px) / 2)  + 514px);
  }

  .u-section-1 .u-image-4 {
    transition-duration: 0.5s;
    margin-right: calc(((100% - 940px) / 2)  + 528px);
    margin-left: calc(((100% - 940px) / 2)  + 549px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2)  + 116px);
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    transition-duration: 0.5s;
    margin-left: calc(((100% - 940px) / 2)  + -50px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    transition-duration: 0.5s;
    margin-right: calc(((100% - 940px) / 2)  + -184px);
    height: auto;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-top: -54px;
    margin-bottom: -13301px;
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 27229px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 63px;
    margin-right: calc(((100% - 720px) / 2)  + 27px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -12px;
    margin-right: calc(((100% - 720px) / 2)  + 148px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -116px;
    margin-left: calc(((100% - 720px) / 2)  + 99px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 92px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 6px;
    margin-left: calc(((100% - 720px) / 2)  + 285px);
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2)  + 286px);
  }

  .u-section-1 .u-group-1 {
    min-height: 13330px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
  }

  .u-section-1 .u-group-2 {
    min-height: 13330px;
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 22px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 2px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-top: -13399px;
    margin-bottom: 60px;
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 27252px;
  }

  .u-section-1 .u-image-1 {
    width: 92px;
    height: 92px;
    margin-top: 60px;
    margin-right: calc(((100% - 540px) / 2)  + 81px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-2 {
    width: 305px;
    height: 35px;
    margin-top: -110px;
    margin-left: calc(((100% - 540px) / 2)  + 41px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 87px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.33333rem;
    margin-top: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2)  + 199px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -41px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -43px;
    margin-right: calc(((100% - 540px) / 2)  + 199px);
  }

  .u-section-1 .u-group-1 {
    width: 592px;
    margin-top: 35px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-group-2 {
    width: 588px;
    min-height: 13325px;
    margin-top: 42px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-39 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-41 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-47 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-49 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-51 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-53 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-55 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-57 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-58 {
    width: auto;
    margin-top: 604px;
    margin-right: 550px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-59 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-top: -13215px;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 27229px;
  }

  .u-section-1 .u-image-1 {
    width: 95px;
    height: 95px;
    margin-right: calc(((100% - 340px) / 2)  + -26px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 32px;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2)  + -37px);
  }

  .u-section-1 .u-image-2 {
    width: 279px;
    height: 32px;
    margin-left: calc(((100% - 340px) / 2)  + -18px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 85px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
  }

  .u-section-1 .u-image-3 {
    width: 36px;
    height: 36px;
    margin-top: 1px;
    margin-left: calc(((100% - 340px) / 2)  + 103px);
  }

  .u-section-1 .u-image-4 {
    width: 36px;
    height: 36px;
    margin-top: -36px;
  }

  .u-section-1 .u-image-5 {
    width: 36px;
    height: 36px;
    margin-top: -36px;
    margin-right: calc(((100% - 340px) / 2)  + 107px);
  }

  .u-section-1 .u-group-1 {
    width: 404px;
    min-height: 13317px;
    margin-top: 41px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 41px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 404px;
    min-height: 13319px;
  }

  .u-section-1 .u-text-31 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 310px;
    margin-left: 9px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }
}