 .u-section-1 {
  background-image: url("images/60566d42-0e01-41ef-99e5-240f5edc2e39.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 14158px;
}

.u-section-1 .u-image-1 {
  width: 363px;
  height: 188px;
  margin: 25px auto 0 16px;
}

.u-section-1 .u-text-1 {
  font-family: Audiowide;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -110px 225px 0 369px;
}

.u-section-1 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: -87px 71px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Audiowide;
  font-size: 1.25rem;
  margin: -12px 71px 0 969px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 36px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: Audiowide;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-1 .u-image-3 {
  width: 42px;
  height: 42px;
  margin: 11px auto 0 513px;
}

.u-section-1 .u-image-4 {
  width: 42px;
  height: 42px;
  margin: -42px 515px 0 auto;
}

.u-section-1 .u-group-1 {
  --radius: 30px;
  width: 540px;
  min-height: 13312px;
  --color-var: #0969c3;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 68px auto 0 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-family: Audiowide;
  font-weight: 700;
  margin: 29px auto 0 88px;
}

.u-section-1 .u-text-6 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 42px auto 0 12px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 42px auto 0 9px;
}

.u-section-1 .u-text-9 {
  margin: 0 7px 0 4px;
}

.u-section-1 .u-text-10 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 21px auto 0 9px;
}

.u-section-1 .u-text-11 {
  margin: 0 auto 0 5px;
}

.u-section-1 .u-text-12 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-text-13 {
  margin: 0 auto 0 6px;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 28px auto 0 13px;
}

.u-section-1 .u-text-15 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-16 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-17 {
  margin: -2px 9px 0 5px;
}

.u-section-1 .u-text-18 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 30px auto 0 10px;
}

.u-section-1 .u-text-19 {
  margin: 5px 9px 0 5px;
}

.u-section-1 .u-text-20 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 17px auto 0 11px;
}

.u-section-1 .u-text-21 {
  margin: 1px 11px 0 3px;
}

.u-section-1 .u-text-22 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 17px auto 0 10px;
}

.u-section-1 .u-text-23 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-24 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 12px auto 0 10px;
}

.u-section-1 .u-text-25 {
  margin: 0 7px;
}

.u-section-1 .u-text-26 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 20px auto 0 12px;
}

.u-section-1 .u-text-27 {
  margin: 0 9px 0 5px;
}

.u-section-1 .u-text-28 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 17px auto 0 12px;
}

.u-section-1 .u-text-29 {
  margin: 0 7px;
}

.u-section-1 .u-text-30 {
  font-size: 2.25rem;
  font-family: "Fugaz One";
  font-weight: 700;
  margin: 19px auto 0 12px;
}

.u-section-1 .u-text-31 {
  margin: 0 7px;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  width: 510px;
  min-height: 13311px;
  --color-var: #0969c3;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -13311px 28px 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-32 {
  font-family: Audiowide;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-33 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 38px auto 0 8px;
}

.u-section-1 .u-text-34 {
  margin: 0 auto 0 6px;
}

.u-section-1 .u-text-35 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 13px auto 0 8px;
}

.u-section-1 .u-text-36 {
  margin: 0 0 0 5px;
}

.u-section-1 .u-text-37 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-38 {
  margin: 5px 4px 0 7px;
}

.u-section-1 .u-text-39 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 18px auto 0 8px;
}

.u-section-1 .u-text-40 {
  margin: 0 5px;
}

.u-section-1 .u-text-41 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-42 {
  margin: 0 5px;
}

.u-section-1 .u-text-43 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-44 {
  margin: 0 5px;
}

.u-section-1 .u-text-45 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-text-46 {
  margin: 0 4px 0 6px;
}

.u-section-1 .u-text-47 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 28px auto 0 8px;
}

.u-section-1 .u-text-48 {
  margin: 0 5px;
}

.u-section-1 .u-text-49 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 7px;
}

.u-section-1 .u-text-50 {
  margin: 0 5px;
}

.u-section-1 .u-text-51 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 19px auto 0 8px;
}

.u-section-1 .u-text-52 {
  margin: 0 5px;
}

.u-section-1 .u-text-53 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 19px auto 0 8px;
}

.u-section-1 .u-text-54 {
  margin: 0 5px;
}

.u-section-1 .u-text-55 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 27px auto 0 8px;
}

.u-section-1 .u-text-56 {
  margin: 0 5px;
}

.u-section-1 .u-text-57 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px auto 0 9px;
}

.u-section-1 .u-text-58 {
  margin: 0 5px;
}

.u-section-1 .u-text-59 {
  font-family: "Fugaz One";
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-60 {
  margin: 0 5px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 51825px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 38281px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 125px;
    margin-left: 269px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 769px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 99px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -27078px;
  }

  .u-section-1 .u-image-4 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 13477px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 13377px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 93332px;
  }

  .u-section-1 .u-image-1 {
    width: 266px;
    height: 138px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -77px;
    margin-right: 103px;
    margin-left: 259px;
  }

  .u-section-1 .u-image-2 {
    width: 83px;
    height: 83px;
    margin-top: -66px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -11px;
    margin-right: 17px;
    margin-left: 620px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 18px;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 9px;
    margin-left: 303px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -42px;
    margin-right: 306px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 49px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    min-height: 13314px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 22px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 127238px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 122px;
    margin-top: 32px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-right: 135px;
    margin-left: 47px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -139px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 440px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 22px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 217px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -41px;
    margin-right: 218px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 71255px;
  }

  .u-section-1 .u-image-1 {
    width: 251px;
    height: 137px;
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -146px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -7px;
    margin-right: 13px;
    margin-left: 244px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 63px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 6px;
    margin-left: 117px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 128px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 22px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-32 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-36 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-52 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-58 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-60 {
    margin-left: 0;
    margin-right: 0;
  }
}