 .u-section-1 {
  background-image: url("images/FKHCABEKKb3PsdW.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 139px;
  height: 139px;
  margin: 57px calc(((100% - 1140px) / 2)  + -96px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Audiowide;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -121px auto 0;
}

.u-section-1 .u-image-2 {
  width: 487px;
  height: 57px;
  margin: -62px auto 0 calc(((100% - 1140px) / 2)  + -346px);
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  width: 713px;
  margin: 5px auto 0;
}

.u-section-1 .u-image-3 {
  width: 510px;
  height: 304px;
  margin: 48px auto 0 calc(((100% - 1140px) / 2)  + -147px);
}

.u-section-1 .u-btn-1 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  font-family: Audiowide;
  margin: -36px auto 0 calc(((100% - 1140px) / 2)  + 21px);
  padding: 10px 36px 11px 35px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  margin: -232px calc(((100% - 1140px) / 2)  + -51px) 0 calc(((100% - 1140px) / 2)  + 363px);
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 26px 628px 0 calc(((100% - 1140px) / 2)  + 609px);
}

.u-section-1 .u-image-4 {
  --radius: 10px;
  width: 357px;
  height: 205px;
  margin: 181px auto 0 calc(((100% - 1140px) / 2)  + -58px);
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: -190px calc(((100% - 1140px) / 2)  + 129px) 0 calc(((100% - 1140px) / 2)  + 325px);
}

.u-section-1 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  margin: 11px 740px 0 calc(((100% - 1140px) / 2)  + 482px);
}

.u-section-1 .u-btn-2 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  font-family: Audiowide;
  margin: 115px auto 0 calc(((100% - 1140px) / 2)  + 18px);
  padding: 10px 36px 11px 35px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Audiowide;
  margin: 133px auto 0 calc(((100% - 1140px) / 2)  + 8px);
}

.u-section-1 .u-image-5 {
  --radius: 10px;
  width: 351px;
  height: 214px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2)  + 305px);
}

.u-section-1 .u-image-6 {
  --radius: 10px;
  width: 295px;
  height: 197px;
  margin: -214px auto 0 calc(((100% - 1140px) / 2)  + -24px);
}

.u-section-1 .u-icon-3 {
  width: 31px;
  height: 31px;
  margin: -171px auto 0 12px;
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 171px;
  height: 171px;
  margin: -31px calc(((100% - 1140px) / 2)  + 223px) 0 auto;
}

.u-section-1 .u-text-8 {
  font-family: Audiowide;
  font-size: 1rem;
  margin: -35px calc(((100% - 1140px) / 2)  + 314px) 0 calc(((100% - 1140px) / 2)  + 685px);
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -155px 1594px 60px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2)  + 45px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-left: calc(((100% - 940px) / 2)  + 224px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2)  + -38px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 450px;
    margin-left: calc(((100% - 940px) / 2)  + 114px);
    margin-right: calc(((100% - 940px) / 2)  + 114px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -187px;
    margin-left: calc(((100% - 940px) / 2)  + -18px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: -324px;
    margin-right: calc(((100% - 940px) / 2)  + -157px);
    margin-left: calc(((100% - 940px) / 2)  + 213px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 684px;
    margin-right: 517px;
    margin-left: calc(((100% - 940px) / 2)  + 367px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 325px;
    margin-left: calc(((100% - 940px) / 2)  + 6px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -481px;
    margin-right: 262px;
    margin-left: 256px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 273px;
    margin-right: 300px;
    margin-left: calc(((100% - 940px) / 2)  + 358px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -245px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-top: -215px;
    margin-left: calc(((100% - 940px) / 2)  + 32px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 163px;
    margin-right: calc(((100% - 940px) / 2)  + 364px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-6 {
    margin-top: -369px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-3 {
    width: calc(((100% - 940px) / 2)  + -376px);
    margin-top: -507px;
    margin-left: calc(((100% - 940px) / 2)  + 258px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 460px;
    margin-right: calc(((100% - 940px) / 2)  + 92px);
  }

  .u-section-1 .u-text-8 {
    margin-top: -231px;
    margin-right: 141px;
    margin-left: 671px;
  }

  .u-section-1 .u-text-9 {
    margin: -76px calc(((100% - 940px) / 2)  + 233px) -355px calc(((100% - 940px) / 2)  + 278px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 95px;
    height: 95px;
    margin-top: 58px;
    margin-right: calc(((100% - 720px) / 2)  + 24px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -3px;
    margin-left: calc(((100% - 720px) / 2)  + -22px);
  }

  .u-section-1 .u-image-2 {
    width: 523px;
    height: 61px;
    margin-top: -158px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 115px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2)  + -43px);
  }

  .u-section-1 .u-image-3 {
    width: 381px;
    height: 228px;
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -29px;
    margin-left: calc(((100% - 720px) / 2)  + 68px);
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -201px;
    margin-right: calc(((100% - 720px) / 2)  + -12px);
    margin-left: calc(((100% - 720px) / 2)  + 343px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-right: 74px;
    margin-left: calc(((100% - 720px) / 2)  + 379px);
  }

  .u-section-1 .u-image-4 {
    width: 278px;
    height: 167px;
    margin-top: 86px;
    margin-left: calc(((100% - 720px) / 2)  + 18px);
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: -155px;
    margin-right: calc(((100% - 720px) / 2)  + -13px);
    margin-left: calc(((100% - 720px) / 2)  + 324px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-right: 65px;
    margin-left: calc(((100% - 720px) / 2)  + 372px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 60px;
    margin-left: calc(((100% - 720px) / 2)  + 52px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 202px;
    margin-left: calc(((100% - 720px) / 2)  + 10px);
  }

  .u-section-1 .u-image-5 {
    width: 251px;
    margin-top: -2px;
    margin-right: calc(((100% - 720px) / 2)  + 185px);
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: -205px;
    margin-left: calc(((100% - 720px) / 2)  + -22px);
  }

  .u-section-1 .u-icon-3 {
    width: 29px;
    height: 29px;
    margin-top: -372px;
    margin-left: calc(((100% - 720px) / 2)  + 62px);
  }

  .u-section-1 .u-image-7 {
    width: 145px;
    height: 145px;
    margin-top: 172px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -33px;
    margin-right: calc(((100% - 720px) / 2)  + 44px);
    margin-left: calc(((100% - 720px) / 2)  + 535px);
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    width: auto;
    margin: -349px 0 60px calc(((100% - 720px) / 2)  + 101px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1596px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 57px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 48px;
    margin-right: 29px;
    margin-left: calc(((100% - 540px) / 2)  + -21px);
  }

  .u-section-1 .u-image-2 {
    width: 404px;
    height: 47px;
    margin-top: -161px;
    margin-left: calc(((100% - 540px) / 2)  + -21px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-top: 132px;
    margin-left: calc(((100% - 540px) / 2)  + -33px);
    margin-right: calc(((100% - 540px) / 2)  + -33px);
  }

  .u-section-1 .u-image-3 {
    width: 270px;
    height: 126px;
    margin-top: 49px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: calc(((100% - 540px) / 2)  + -15px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -173px;
    margin-right: 0;
    margin-left: calc(((100% - 540px) / 2)  + 220px);
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 2px;
    margin-right: 62px;
    margin-left: calc(((100% - 540px) / 2)  + 282px);
  }

  .u-section-1 .u-image-4 {
    width: 228px;
    height: 127px;
    margin-top: 58px;
    margin-left: calc(((100% - 540px) / 2)  + -33px);
  }

  .u-section-1 .u-text-5 {
    font-size: 1.1111111111111112rem;
    margin-top: -114px;
    margin-right: calc(((100% - 540px) / 2)  + -29px);
    margin-left: calc(((100% - 540px) / 2)  + 220px);
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 16px;
    margin-right: 74px;
    margin-left: calc(((100% - 540px) / 2)  + 257px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -12px;
    margin-left: calc(((100% - 540px) / 2)  + -21px);
  }

  .u-section-1 .u-text-7 {
    margin-top: 306px;
    margin-left: calc(((100% - 540px) / 2)  + -15px);
  }

  .u-section-1 .u-image-5 {
    width: 279px;
    height: 212px;
    margin-top: -13px;
    margin-right: calc(((100% - 540px) / 2)  + -9px);
  }

  .u-section-1 .u-image-6 {
    width: 290px;
    height: 191px;
    margin-top: -191px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -409px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-7 {
    margin-top: 396px;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -30px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 115px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -569px;
    margin-right: calc(((100% - 540px) / 2)  + -29px);
    margin-left: calc(((100% - 540px) / 2)  + 37px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1943px;
  }

  .u-section-1 .u-image-1 {
    width: 80px;
    height: 80px;
    margin-top: 21px;
    margin-right: calc(((100% - 340px) / 2)  + -15px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2)  + 65px);
    margin-left: calc(((100% - 340px) / 2)  + -30px);
  }

  .u-section-1 .u-image-2 {
    height: 32px;
    width: 272px;
    margin-top: -89px;
    margin-left: calc(((100% - 340px) / 2)  + -29px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 73px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 131px;
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 158px;
    margin-right: calc(((100% - 340px) / 2)  + 57px);
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -202px;
    margin-left: calc(((100% - 340px) / 2)  + -29px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 252px;
    height: 125px;
    margin-top: 104px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 245px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 131px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    width: 318px;
    height: 206px;
    margin-top: 198px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-6 {
    margin-top: -397px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    width: 23px;
    height: 23px;
    margin-top: -330px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 513px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -32px;
    margin-right: calc(((100% - 340px) / 2)  + 142px);
    margin-left: calc(((100% - 340px) / 2)  + -30px);
  }

  .u-section-1 .u-text-9 {
    font-size: 0.875rem;
    margin-top: -668px;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2)  + -8px);
  }
}