 .u-section-1 {
  background-image: url("images/FKHCABEKKb3PsdW.jpg");
  background-position: 50% 50%;
  min-height: 3323px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  position: absolute;
  top: 686px;
  left: auto;
  right: 514px;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 120px;
  margin: 40px calc(((100% - 1140px) / 2)  + 52px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 487px;
  height: 57px;
  margin: -120px calc(((100% - 1140px) / 2)  + 312px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Audiowide;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 24px calc(((100% - 1140px) / 2)  + 199px) 0 calc(((100% - 1140px) / 2)  + 228px);
}

.u-section-1 .u-image-3 {
  width: 377px;
  height: 281px;
  margin: 60px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Audiowide;
  margin: -54px auto 0 calc(((100% - 1140px) / 2)  + 91px);
  padding: 10px 25px 10px 24px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -218px calc(((100% - 1140px) / 2)  + -23px) 0 calc(((100% - 1140px) / 2)  + 390px);
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 18px 642px 0 calc(((100% - 1140px) / 2)  + 595px);
}

.u-section-1 .u-custom-html-1 {
  width: 1135px;
  height: auto;
  min-height: 69px;
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2)  + 247px);
}

.u-section-1 .u-image-4 {
  --radius: 10px;
  width: 313px;
  height: 189px;
  margin: 33px auto 0 calc(((100% - 1140px) / 2)  + 26px);
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: -162px calc(((100% - 1140px) / 2)  + 33px) 0 calc(((100% - 1140px) / 2)  + 357px);
}

.u-section-1 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  margin: 11px 635px 0 calc(((100% - 1140px) / 2)  + 586px);
}

.u-section-1 .u-btn-2 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Audiowide;
  margin: 23px auto 0 calc(((100% - 1140px) / 2)  + 95px);
  padding: 10px 24px 11px 23px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 40px calc(((100% - 1140px) / 2)  + 149px) 0 calc(((100% - 1140px) / 2)  + 431px);
}

.u-section-1 .u-icon-3 {
  width: 30px;
  height: 30px;
  margin: -83px auto 0 calc(((100% - 1140px) / 2)  + 390px);
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Audiowide;
  margin: 17px auto 0 calc(((100% - 1140px) / 2)  + 67px);
}

.u-section-1 .u-image-5 {
  --radius: 10px;
  width: 295px;
  height: 197px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 13px auto 0 calc(((100% - 1140px) / 2)  + 44px);
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 80px calc(((100% - 1140px) / 2)  + 100px) 0 auto;
}

.u-section-1 .u-text-9 {
  font-family: Audiowide;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 88px calc(((100% - 1140px) / 2)  + -23px) 0 calc(((100% - 1140px) / 2)  + 44px);
}

.u-section-1 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 0 calc(((100% - 1140px) / 2)  + 90px) 0 calc(((100% - 1140px) / 2)  + 157px);
}

.u-section-1 .u-btn-3 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Audiowide;
  margin: 48px calc(((100% - 1140px) / 2)  + 17px) 0 auto;
  padding: 10px 24px 11px 23px;
}

.u-section-1 .u-btn-4 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Audiowide;
  margin: -46px auto 0 calc(((100% - 1140px) / 2)  + 168px);
  padding: 10px 24px 11px 23px;
}

.u-section-1 .u-btn-5 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Audiowide;
  margin: 28px auto 0 calc(((100% - 1140px) / 2)  + 144px);
  padding: 10px 24px 11px 23px;
}

.u-section-1 .u-btn-6 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Audiowide;
  margin: -46px calc(((100% - 1140px) / 2)  + 48px) 0 auto;
  padding: 10px 24px 11px 23px;
}

.u-section-1 .u-btn-7 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Audiowide;
  margin: 28px calc(((100% - 1140px) / 2)  + 48px) 0 auto;
  padding: 10px 24px 11px 23px;
}

.u-section-1 .u-btn-8 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Audiowide;
  margin: -46px auto 60px calc(((100% - 1140px) / 2)  + 181px);
  padding: 10px 24px 11px 23px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2740px;
  }

  .u-section-1 .u-line-1 {
    height: 3px;
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 3284px;
    margin-right: calc(((100% - 940px) / 2)  + 45px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 312px);
    margin-left: calc(((100% - 940px) / 2)  + -38px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 224px);
  }

  .u-section-1 .u-text-2 {
    width: 713px;
    margin-left: calc(((100% - 940px) / 2)  + 114px);
    margin-right: calc(((100% - 940px) / 2)  + 114px);
  }

  .u-section-1 .u-image-3 {
    height: 289px;
    margin-left: calc(((100% - 940px) / 2)  + -18px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -157px);
    margin-left: calc(((100% - 940px) / 2)  + 213px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 517px;
    margin-left: calc(((100% - 940px) / 2)  + 367px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-right: 0;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2)  + 6px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 262px;
    margin-left: 256px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 300px;
    margin-left: calc(((100% - 940px) / 2)  + 358px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2)  + 233px);
    margin-left: calc(((100% - 940px) / 2)  + 278px);
  }

  .u-section-1 .u-icon-3 {
    width: calc(((100% - 940px) / 2)  + -376px);
    margin-left: calc(((100% - 940px) / 2)  + 258px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 940px) / 2)  + 32px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 17px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-line-2 {
    margin-top: -1416px;
    margin-left: calc(((100% - 940px) / 2)  + 28px);
    margin-right: calc(((100% - 940px) / 2)  + 28px);
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 576px;
    margin-left: calc(((100% - 940px) / 2)  + 259px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + 74px);
    margin-left: calc(((100% - 940px) / 2)  + -27px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: 133px;
    margin-right: calc(((100% - 940px) / 2)  + 84px);
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: -125px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 0;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2676px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    top: 832px;
  }

  .u-section-1 .u-image-1 {
    width: 95px;
    height: 95px;
    margin-top: 49px;
    margin-right: calc(((100% - 720px) / 2)  + 50px);
  }

  .u-section-1 .u-image-2 {
    width: 424px;
    height: 49px;
    margin-top: -95px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 37px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 28px;
    margin-right: calc(((100% - 720px) / 2)  + 126px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-1 .u-image-3 {
    width: 345px;
    height: 239px;
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 204px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: 594px;
    margin-top: -265px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-top: 3479px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 310px;
    height: 201px;
    margin-top: -3406px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    width: 596px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    width: auto;
    margin-top: 53px;
    margin-right: calc(((100% - 720px) / 2)  + 16px);
    margin-left: calc(((100% - 720px) / 2)  + 114px);
  }

  .u-section-1 .u-icon-3 {
    width: 29px;
    height: 29px;
    margin-top: -77px;
    margin-left: calc(((100% - 720px) / 2)  + 81px);
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 102px;
    margin-left: calc(((100% - 720px) / 2)  + 231px);
  }

  .u-section-1 .u-image-5 {
    width: 318px;
    height: 213px;
    margin-top: 11px;
    margin-left: calc(((100% - 720px) / 2)  + 188px);
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 46px;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 11px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 329px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -321px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 89px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3113px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    top: 758px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 34px;
    margin-right: calc(((100% - 540px) / 2)  + -21px);
  }

  .u-section-1 .u-image-2 {
    width: 404px;
    height: 47px;
    margin-left: calc(((100% - 540px) / 2)  + 31px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 8px;
    margin-right: calc(((100% - 540px) / 2)  + 45px);
    margin-left: calc(((100% - 540px) / 2)  + -87px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-top: 14px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-image-3 {
    width: 357px;
    height: 171px;
    margin-top: 47px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 217px;
    padding-right: 17px;
    padding-bottom: 12px;
    padding-left: 16px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -272px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 16px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-top: 5454px;
  }

  .u-section-1 .u-image-4 {
    width: 256px;
    height: 158px;
    margin-top: -5344px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 16px;
    padding-right: 15px;
    padding-left: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 74px;
    margin-right: calc(((100% - 540px) / 2)  + -13px);
    margin-left: calc(((100% - 540px) / 2)  + 48px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 540px) / 2)  + 11px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 95px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    width: 252px;
    height: 161px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-top: 36px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 23px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 31px);
  }

  .u-section-1 .u-text-10 {
    font-size: 1.1111111111111112rem;
    margin-top: 23px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 165px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -175px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 14px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 85px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2083px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2)  + -16px);
  }

  .u-section-1 .u-image-2 {
    height: 32px;
    width: 272px;
    margin-top: -64px;
    margin-left: calc(((100% - 340px) / 2)  + -32px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 32px;
    margin-right: calc(((100% - 340px) / 2)  + 57px);
    margin-left: calc(((100% - 340px) / 2)  + -22px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 131px;
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 362px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -409px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 35px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-top: 8988px;
  }

  .u-section-1 .u-image-4 {
    width: 252px;
    height: 125px;
    margin-top: -8862px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 8px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 64px;
    margin-right: calc(((100% - 340px) / 2)  + -14px);
    margin-left: calc(((100% - 340px) / 2)  + 22px);
  }

  .u-section-1 .u-icon-3 {
    width: 19px;
    height: 19px;
    margin-top: -90px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-top: 115px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 14px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-top: -824px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-9 {
    width: 340px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2)  + -15px);
    margin-left: calc(((100% - 340px) / 2)  + 15px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2)  + -69px);
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -221px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 11px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 117px;
    margin-left: calc(((100% - 340px) / 2)  + -3px);
  }
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}