 .u-section-1 {
  background-image: url("images/FKHCABEKKb3PsdW.jpg");
  background-position: 50% 50%;
  min-height: 1919px;
}

.u-section-1 .u-image-1 {
  width: 127px;
  height: 127px;
  margin: 19px calc(((100% - 1140px) / 2)  + -44px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 348px;
  height: 40px;
  margin: -102px auto 0 calc(((100% - 1140px) / 2)  + 350px);
}

.u-section-1 .u-text-1 {
  font-family: Audiowide;
  font-size: 2.25rem;
  margin: 29px calc(((100% - 1140px) / 2)  + 180px) 0 calc(((100% - 1140px) / 2)  + 88px);
}

.u-section-1 .u-text-2 {
  margin: 12px calc(((100% - 1140px) / 2)  + -23px) 0 calc(((100% - 1140px) / 2)  + -69px);
}

.u-section-1 .u-text-3 {
  margin: 12px calc(((100% - 1140px) / 2)  + 119px) 0 calc(((100% - 1140px) / 2)  + 88px);
}

.u-section-1 .u-custom-html-1 {
  width: 1924px;
  height: auto;
  min-height: 1088px;
  margin: 83px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1582px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 299px;
    margin-right: calc(((100% - 940px) / 2)  + -44px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -469px;
    margin-left: calc(((100% - 940px) / 2)  + -51px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 228px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 7px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -140px;
    margin-left: calc(((100% - 940px) / 2)  + 4px);
    margin-right: calc(((100% - 940px) / 2)  + 4px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-top: 30px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1212px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + -44px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2)  + -51px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin: 0 calc(((100% - 720px) / 2)  + -110px) 0 calc(((100% - 720px) / 2)  + -25px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 909px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + -44px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2)  + -51px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 571px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + -44px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 39px;
    margin-left: calc(((100% - 340px) / 2)  + -51px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}