 .u-section-1 {
  background-image: url("http://ps2classicsvault.mobie.in/images/FKHCABEKKb3PsdW.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2158px;
}

.u-section-1 .u-image-1 {
  width: 1018px;
  height: 318px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 764px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  width: 764px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 764px;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  width: 764px;
  margin: 74px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 764px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  width: 764px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 766px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  width: 764px;
  margin: 61px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  width: 766px;
  margin: 25px auto 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1754px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1685px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 224px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    width: 720px;
  }

  .u-section-1 .u-text-7 {
    width: 720px;
  }

  .u-section-1 .u-text-8 {
    width: 720px;
  }

  .u-section-1 .u-text-9 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1629px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 168px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    width: 540px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-1 .u-text-8 {
    width: 540px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1567px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 106px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    width: 340px;
  }
}
