 .u-section-1 {
  background-image: url("images/FKHCABEKKb3PsdW.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1823px;
}

.u-section-1 .u-image-1 {
  width: 395px;
  height: 219px;
  margin: 13px auto 0 75px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -144px 40px 0 528px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 10px 190px 0 auto;
  padding: 11px 50px 11px 49px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3em;
  vertical-align: -2px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -18px 649px 0 53px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -44px 142px 0 630px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  width: 367px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 69px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  width: 565px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 13px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 341px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-1 .u-icon-2 {
  height: 86px;
  width: 86px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 0 0;
}

.u-section-1 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-1 .u-icon-3 {
  height: 86px;
  width: 86px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 0 0;
}

.u-section-1 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-1 .u-icon-4 {
  height: 86px;
  width: 86px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 0 0;
}

.u-section-1 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 50px auto 0;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 391px;
  margin: 10px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 322px;
  margin: 24px 570px 0 24px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 322px;
  margin: -322px 11px 0 583px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 322px;
  margin: 15px 570px 0 24px;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 322px;
  margin: -322px 12px 0 582px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 51px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 12px;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 12px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-1 .u-container-layout-5 {
  padding: 29px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-icon-5 {
  color: rgb(59, 89, 152) !important;
  height: 48px;
}

.u-section-1 .u-icon-6 {
  height: 48px;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-7 {
  height: 48px;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1484px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 368px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 502px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 42px;
    margin-left: 530px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 280px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -44px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
    margin-right: 394px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 394px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 394px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 0;
    margin-left: 394px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1495px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 148px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 282px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 352px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 658px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 174px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 174px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 174px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: 174px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -43px;
    margin-right: 102px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -19px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 56px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -80px;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1529px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 189px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -94px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -105px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 64px;
  }
}
.center {
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
    height: 100%;
 }
}