 .u-section-1 {
  background-image: url("images/60566d42-0e01-41ef-99e5-240f5edc2e39.png");
  background-position: 50% 50%;
  min-height: 1881px;
}

.u-section-1 .u-image-1 {
  width: 297px;
  height: 297px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 247px auto 0 calc(((100% - 1140px) / 2)  + -253px);
}

.u-section-1 .u-image-2 {
  --radius: 10px;
  width: 386px;
  height: 321px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -536px auto 0 calc(((100% - 1140px) / 2)  + -342px);
}

.u-section-1 .u-image-3 {
  --radius: 10px;
  width: 501px;
  height: 390px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: -190px auto 0 calc(((100% - 1140px) / 2)  + 69px);
}

.u-section-1 .u-image-4 {
  --radius: 10px;
  width: 778px;
  height: 390px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: -390px calc(((100% - 1140px) / 2)  + -225px) 0 auto;
}

.u-section-1 .u-image-5 {
  --radius: 10px;
  width: 501px;
  height: 501px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 32px auto 0 calc(((100% - 1140px) / 2)  + 69px);
}

.u-section-1 .u-image-6 {
  --radius: 10px;
  width: 203px;
  height: 203px;
  margin: -377px auto 0 calc(((100% - 1140px) / 2)  + 218px);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Audiowide;
  font-size: 1.875rem;
  margin: -33px auto 0 calc(((100% - 1140px) / 2)  + 171px);
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-video-1 {
  width: 778px;
  height: 501px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: -327px calc(((100% - 1140px) / 2)  + -225px) 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-image-7 {
  width: 340px;
  height: 255px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -501px auto 0 calc(((100% - 1140px) / 2)  + -296px);
}

.u-section-1 .u-image-8 {
  --radius: 10px;
  width: 158px;
  height: 158px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + -97px);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: -40px calc(((100% - 1140px) / 2)  + 1096px) 0 calc(((100% - 1140px) / 2)  + -162px);
}

.u-section-1 .u-image-9 {
  --radius: 10px;
  width: 279px;
  height: 111px;
  transition-duration: 0.5s;
  margin: 4px auto 0 calc(((100% - 1140px) / 2)  + -210px);
}

.u-section-1 .u-text-3 {
  font-family: Audiowide;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -67px calc(((100% - 1140px) / 2)  + 1095px) 60px calc(((100% - 1140px) / 2)  + -186px);
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1551px;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-top: 530px;
    margin-left: calc(((100% - 940px) / 2)  + 12px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + -342px);
  }

  .u-section-1 .u-image-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: calc(((100% - 940px) / 2)  + 277px);
  }

  .u-section-1 .u-image-4 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: calc(((100% - 940px) / 2)  + -33px);
  }

  .u-section-1 .u-image-5 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: calc(((100% - 940px) / 2)  + 277px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2)  + 170px);
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 120px);
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-btn-1 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-video-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -385px;
    margin-right: calc(((100% - 940px) / 2)  + -36px);
  }

  .u-section-1 .u-image-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-left: calc(((100% - 940px) / 2)  + -29px);
  }

  .u-section-1 .u-image-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: calc(((100% - 940px) / 2)  + 44px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2)  + 788px);
    margin-left: calc(((100% - 940px) / 2)  + -162px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 940px) / 2) + -465px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 895px);
    margin-left: 201px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1188px;
  }

  .u-section-1 .u-image-1 {
    width: 142px;
    height: 142px;
    margin-top: 69px;
    margin-right: calc(((100% - 720px) / 2)  + 186px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -236px;
    margin-left: calc(((100% - 720px) / 2)  + -26px);
  }

  .u-section-1 .u-image-3 {
    width: 300px;
    height: 231px;
    margin-top: -32px;
    margin-left: calc(((100% - 720px) / 2)  + 19px);
  }

  .u-section-1 .u-image-4 {
    width: 399px;
    height: 231px;
    margin-top: -231px;
    margin-right: calc(((100% - 720px) / 2)  + -12px);
  }

  .u-section-1 .u-image-5 {
    width: 300px;
    height: 300px;
    margin-top: 17px;
    margin-left: calc(((100% - 720px) / 2)  + 19px);
  }

  .u-section-1 .u-image-6 {
    width: 142px;
    height: 142px;
    margin-top: -243px;
    margin-left: calc(((100% - 720px) / 2)  + 96px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -22px;
    margin-left: calc(((100% - 720px) / 2)  + 70px);
  }

  .u-section-1 .u-video-1 {
    width: 399px;
    height: 300px;
    margin-top: -199px;
    margin-right: calc(((100% - 720px) / 2)  + -12px);
  }

  .u-section-1 .u-image-7 {
    width: 169px;
    height: 134px;
    margin-top: -743px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 674px;
    margin-left: calc(((100% - 720px) / 2)  + 104px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2)  + 485px);
    margin-left: calc(((100% - 720px) / 2)  + 33px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 720px) / 2) + -465px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 675px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 891px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 61px;
    margin-right: calc(((100% - 540px) / 2)  + 128px);
  }

  .u-section-1 .u-image-2 {
    width: 309px;
    height: 237px;
    margin-top: -203px;
    margin-left: calc(((100% - 540px) / 2)  + -39px);
  }

  .u-section-1 .u-image-3 {
    height: 220px;
    margin-top: 7px;
    margin-left: calc(((100% - 540px) / 2)  + -30px);
  }

  .u-section-1 .u-image-4 {
    width: 279px;
    height: 220px;
    margin-top: -220px;
    margin-right: calc(((100% - 540px) / 2)  + -23px);
  }

  .u-section-1 .u-image-5 {
    width: 296px;
    height: 296px;
    margin-top: 15px;
    margin-left: calc(((100% - 540px) / 2)  + -26px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -244px;
    margin-left: calc(((100% - 540px) / 2)  + 52px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -15px;
    margin-left: calc(((100% - 540px) / 2)  + 25px);
  }

  .u-section-1 .u-video-1 {
    width: 279px;
    height: 296px;
    margin-top: -201px;
    margin-right: calc(((100% - 540px) / 2)  + -23px);
  }

  .u-section-1 .u-image-7 {
    margin-top: -709px;
    margin-right: calc(((100% - 540px) / 2)  + -34px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 627px;
    margin-left: calc(((100% - 540px) / 2)  + 52px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-top: -43px;
    margin-right: calc(((100% - 540px) / 2)  + 338px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 540px) / 2) + -465px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 495px);
    margin-left: 151px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 561px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 639px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -781px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 196px;
    height: 174px;
    margin-top: -1px;
    margin-left: calc(((100% - 340px) / 2)  + -38px);
  }

  .u-section-1 .u-image-4 {
    width: 195px;
    height: 170px;
    margin-top: -170px;
    margin-right: calc(((100% - 340px) / 2)  + -25px);
  }

  .u-section-1 .u-image-5 {
    width: 195px;
    height: 195px;
    margin-top: 11px;
    margin-left: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-1 .u-image-6 {
    width: 99px;
    height: 99px;
    margin-top: -161px;
    margin-left: calc(((100% - 340px) / 2)  + 16px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -9px;
    margin-left: calc(((100% - 340px) / 2)  + -14px);
  }

  .u-section-1 .u-video-1 {
    width: 195px;
    height: 195px;
    margin-top: -141px;
    margin-right: calc(((100% - 340px) / 2)  + -25px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 27px;
    margin-right: calc(((100% - 340px) / 2)  + -25px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 49px;
    margin-left: calc(((100% - 340px) / 2)  + 27px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2)  + 234px);
    margin-left: calc(((100% - 340px) / 2)  + -19px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 340px) / 2)  + -465px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 295px);
    margin-left: 95px;
  }
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-video-1,
.u-section-1 .u-video-1:before,
.u-section-1 .u-video-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-video-1.u-video-1.u-video-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-video-1.u-video-1.u-video-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before,
.u-section-1 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before,
.u-section-1 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-8.u-image-8.u-image-8:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-8.u-image-8.u-image-8.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before,
.u-section-1 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-9.u-image-9.u-image-9:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-9.u-image-9.u-image-9.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}