 .u-section-1 {
  background-image: url("images/60566d42-0e01-41ef-99e5-240f5edc2e39.png");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 132px;
  height: 132px;
  margin: 17px 282px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Audiowide;
  font-size: 2.25rem;
  width: 656px;
  margin: -101px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 9px auto 0 calc(((100% - 1140px) / 2)  + 181px);
}

.u-section-1 .u-image-2 {
  width: 426px;
  height: 48px;
  margin: -76px auto 0 calc(((100% - 1140px) / 2)  + -359px);
}

.u-section-1 .u-video-1 {
  height: 1055px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 1896px;
  margin: 109px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 87px;
    margin-right: calc(((100% - 940px) / 2)  + -4px);
  }

  .u-section-1 .u-text-1 {
    width: 697px;
    margin-top: -153px;
    margin-right: calc(((100% - 940px) / 2)  + 107px);
    margin-left: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 82px;
    margin-left: calc(((100% - 940px) / 2)  + 181px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -91px;
    margin-left: calc(((100% - 940px) / 2)  + -19px);
  }

  .u-section-1 .u-video-1 {
    height: 523px;
    width: 940px;
    margin-top: 136px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 114px;
    height: 114px;
    margin-top: 34px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -79px;
    margin-right: calc(((100% - 720px) / 2)  + 147px);
    margin-left: calc(((100% - 720px) / 2)  + 111px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: calc(((100% - 720px) / 2)  + 122px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 298px;
    height: 34px;
    margin-top: -142px;
    margin-left: calc(((100% - 720px) / 2)  + -36px);
  }

  .u-section-1 .u-video-1 {
    height: 410px;
    width: 792px;
    margin-top: 178px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 93px;
    height: 93px;
    margin-top: 26px;
    margin-right: calc(((100% - 540px) / 2)  + -32px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -49px;
    margin-right: calc(((100% - 540px) / 2)  + 92px);
    margin-left: calc(((100% - 540px) / 2)  + -14px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-right: 130px;
    margin-left: calc(((100% - 540px) / 2)  + -26px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -131px;
    margin-left: calc(((100% - 540px) / 2)  + -28px);
  }

  .u-section-1 .u-video-1 {
    height: 378px;
    width: 596px;
    margin-top: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 89px;
    height: 89px;
    margin-top: 36px;
    margin-right: calc(((100% - 340px) / 2)  + -13px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-2 {
    width: 270px;
    height: 31px;
    margin-top: -167px;
    margin-left: calc(((100% - 340px) / 2)  + -38px);
  }

  .u-section-1 .u-video-1 {
    height: 294px;
    width: 416px;
    margin-top: 191px;
  }
}