<!DOCTYPE html>
<html lang='en'>
<head prefix=''>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Website - Status Page - LineageOS
</title>
	<link rel="canonical" href="https://status.lineageos.org/components/59efbff64e80f148afed6c4a.html" />
<meta charset='utf-8'>
<meta content='View LineageOS&#39;s real-time and historical operational status.' name='description'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<link href='../components/59efbff64e80f148afed6c4a.html' hreflang='x-default' rel='alternate'>
<link href='../uploads/favicon-lineageos-25a4a6bd-f4b3-467b-976f-fe1ebb22e38c.png' rel='shortcut icon'>
<link href='../uploads/square-lineageos-8b70d8c1-1e94-4e7f-b6c8-9bf4d466ae18.png' rel='apple-touch-icon-precomposed'>
<link href='../uploads/square-lineageos-8b70d8c1-1e94-4e7f-b6c8-9bf4d466ae18.png' rel='icon'>
<link rel="stylesheet" media="all" href="../assets/state/application-3227f0a55ab437981d4abea7bc8136f91bdfc54eca24884afa2c6032accccca3.css" />
<style>
  .group header .state.operational{color:#167c80}.item .state.operational{color:#167c80}.state-bar.operational{background-color:#167c80;border-color:#167c80;color:white}.flash.success{background-color:#167c80;border-color:#167c80;color:white}.component.operational{border-color:#167c80}
</style>
<style></style>
<script src="../assets/state/fonts-b4f95d964aa30b935210dc9aa0334669eb6083d2f509b288ecfb6e2750172c8f.js"></script>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="98lGpSIxdU0vdi/Derdy9nmMFhllHUsfKDUANpzO0CErtjHvtFKzKfcv/NXegSe35pKG6hyOUvLit/zDJ9oKsg==" />
</head>
<body class='font-features'>
<div class='container'>
<header role='banner'>
<div class='title'>
<a href='https://lineageos.org/'>
<img srcset="../uploads/regular_lineageos-77aaa70f-1395-4794-9379-890952817683.png 1x, ../uploads/lineageos-77aaa70f-1395-4794-9379-890952817683.png 2x" alt="LineageOS" width="152" height="15" src="../uploads/lineageos-77aaa70f-1395-4794-9379-890952817683.png" />
</a>
</div>
<a id="toggle-nav-link" class="toggle-nav-link" role="button" aria-label="Open menu" aria-expanded="false" href="javascript:void(0)"><i aria-hidden='true' class='toggle-nav-icon'></i>
</a><nav class='header-nav' role='navigation'>
<a class="nav-link" href="../index.html">Home</a>
<a class="button nav-link" data-behavior="subscribe-button" data-render="/subscriptions/modal" href="../subscriptions/new.html">Subscribe</a>
</nav>
</header>
<section class='component operational' data-behavior='disable-ctts'>
<header class='inline'>
<h1>Website</h1>
<p class='description'><p>lineageos.org</p>
</p>
<ol class='breadcrumbs'>
<li><a href="../index.html">Overview</a></li>
<li>Website</li>
</ol>
</header>
<aside class='operational state-bar inline' data-behavior='disable-ctts'>
<span class='status'>Operating Normally</span>
<span class='meta'><span class='uptime' data-tooltip='30-day'>100% Uptime</span>
</span>
</aside>
</section>
<section class='metrics' data-behavior='metrics' data-source='/metrics/data.json'>
<header data-behavior='disable-ctts'>
<h2>Metrics</h2>
<div class='metrics-range-selector' data-behavior='metrics-range-selector'>
<span>Past Week</span>
<ol>
<li><a id="past_day" href="#">Past Day</a></li>
<li><a id="past_week" class="active" href="#">Past Week</a></li>
<li><a id="past_month" href="#">Past Month</a></li>
</ol>
</div>
</header>
<div class='content'>
<ol class='metrics-wrapper' data-i18n-metric-lacking-data='Data is not yet available for this time frame.'>
<li class='metric' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;Percent Uptime&quot;,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:true}' name='percent_uptime@59efbff64e80f148afed6c4b'>
<div class='metric__title'>Percent Uptime</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
<li class='metric' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;Incidents Reported&quot;,&quot;plot_type&quot;:&quot;bar&quot;,&quot;y_supremum&quot;:2.0,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:false}' name='incidents_reported@59efbff64e80f148afed6c4b'>
<div class='metric__title'>Incidents Reported</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
<li class='metric' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;DNS Lookup Time (ms)&quot;,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:false}' name='http/name_lookup_time@59efbff64e80f148afed6c4e'>
<div class='metric__title'>DNS Lookup Time (ms)</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
<li class='metric' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;TCP Connection Time (ms)&quot;,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:false}' name='http/tcp_connection_time@59efbff64e80f148afed6c4e'>
<div class='metric__title'>TCP Connection Time (ms)</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
<li class='metric' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;TLS Handshake Time (ms)&quot;,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:false}' name='http/tls_handshake_time@59efbff64e80f148afed6c4e'>
<div class='metric__title'>TLS Handshake Time (ms)</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
<li class='metric' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;Content Generation Time (ms)&quot;,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:false}' name='http/content_generation_time@59efbff64e80f148afed6c4e'>
<div class='metric__title'>Content Generation Time (ms)</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
<li class='metric' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;Content Transfer Time (ms)&quot;,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:false}' name='http/content_transfer_time@59efbff64e80f148afed6c4e'>
<div class='metric__title'>Content Transfer Time (ms)</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
<li class='metric' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;Total Elapsed Time (ms)&quot;,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:false}' name='http/total_time@59efbff64e80f148afed6c4e'>
<div class='metric__title'>Total Elapsed Time (ms)</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
<li class='metric metric--wide' data-metric-options='{&quot;x_title&quot;:&quot;Time&quot;,&quot;title&quot;:&quot;Time to First Byte (ms)&quot;,&quot;enabled&quot;:true,&quot;top_level_enabled&quot;:false}' name='http/time_to_first_byte@59efbff64e80f148afed6c4e'>
<div class='metric__title'>Time to First Byte (ms)</div>
<div class='metric__loading'>
<em>Loading...</em>
<div class='spinner'>
<div class='bounce--1'></div>
<div class='bounce--2'></div>
<div class='bounce--3'></div>
</div>
</div>
</li>
</ol>
</div>
</section>
<section class='history limited' data-behavior='disable-ctts'>
<header class='inline'>
<h2>Recent History</h2>
</header>
<div class='events empty'>
<div class='content'>
<p>Nothing has happened recently.</p>
</div>
</div>
</section>
<footer>
<div class='link-wrapper'>
<div class='attribution'><a href="https://hund.io/">Powered By Hund.io</a></div>
<ul class='locale-select sf-menu sf-up'>
<li>
<a class='locale'>English</a>
<ul class='locales'>
<li><a rel="alternate" hreflang="es-AR" href="../components/59efbff64e80f148afed6c4a_locale-es-AR.html">Español (Argentina)</a></li>
<li><a rel="alternate" hreflang="da" href="../components/59efbff64e80f148afed6c4a_locale-da.html">Dansk</a></li>
<li><a rel="alternate" hreflang="de" href="../components/59efbff64e80f148afed6c4a_locale-de.html">Deutsch</a></li>
<li><a rel="alternate" hreflang="fr" href="../components/59efbff64e80f148afed6c4a_locale-fr.html">Français</a></li>
<li><a rel="alternate" hreflang="ja" href="../components/59efbff64e80f148afed6c4a_locale-ja.html">日本語</a></li>
<li><a rel="alternate" hreflang="nb" href="../components/59efbff64e80f148afed6c4a_locale-nb.html">Norsk (Bokmål)</a></li>
<li><a rel="alternate" hreflang="nl" href="../components/59efbff64e80f148afed6c4a_locale-nl.html">Nederlands</a></li>
<li><a rel="alternate" hreflang="pl" href="../components/59efbff64e80f148afed6c4a_locale-pl.html">Polski</a></li>
<li><a rel="alternate" hreflang="pt-BR" href="../components/59efbff64e80f148afed6c4a_locale-pt-BR.html">Português (Brasil)</a></li>
<li><a rel="alternate" hreflang="sv" href="../components/59efbff64e80f148afed6c4a_locale-sv.html">Svenska</a></li>
</ul>
</li>
</ul>
</div>
</footer>
<script>
	window.metrics = {
	  styles: {
	    colors: ["#167c80"],
 	   drop_line_color: "#167c80"
	  }
	};
</script>
</div>
<script>
  if (localStorage.getItem("logo_offset") !== null) { document.querySelectorAll(".header-nav")[0].style.top = localStorage.getItem("logo_offset") + "px"; }
</script>
<script>
  window.i18n || (window.i18n = {});
</script>
<script>
  window.TimestampableTimezone = "Etc/UTC";
  window.TimestampableFormats = {"default":"%a, %d %b %Y %H:%M:%S %z","short":"%d %b %H:%M","long":"%b %e, %Y %-l:%M %p %Z","date":"%b %e, %Y","long_without_zone":"%b %e, %Y %-l:%M %p","range_from":"%b %e, %Y %-l:%M %p","range_to":"%-l:%M %p %Z","day":"%B %e, %Y"};
  window.TimestampableTranslations = {"distance_in_words":{"half_a_minute":"half a minute","less_than_x_seconds":{"one":"less than 1 second","other":"less than %{count} seconds"},"x_seconds":{"one":"1 second","other":"%{count} seconds"},"less_than_x_minutes":{"one":"less than a minute","other":"less than %{count} minutes"},"x_minutes":{"one":"1 minute","other":"%{count} minutes"},"about_x_hours":{"one":"about 1 hour","other":"about %{count} hours"},"x_days":{"one":"1 day","other":"%{count} days"},"about_x_months":{"one":"about 1 month","other":"about %{count} months"},"x_months":{"one":"1 month","other":"%{count} months"},"about_x_years":{"one":"about 1 year","other":"about %{count} years"},"over_x_years":{"one":"over 1 year","other":"over %{count} years"},"almost_x_years":{"one":"almost 1 year","other":"almost %{count} years"},"x_years":{"one":"1 year","other":"%{count} years"}},"duration":"Lasted %{duration}","past":"%{time} ago"};
</script>
<script src="../assets/state/application-95589c181df4c4d0917c7c175af5e271fb0284d2a79edc1a80b234d42ddc894a.js"></script>
<script src="../assets/state/hund-94ece32af302aaf9fa3b2b274d7cee4f742dac5e96ab5a4e797abcc0cd5795c8.js"></script>
<!-- a877241186c172d5ce127a0c28c91718 -->
</body>
</html>
